 <div class="row">
   <div class="col-12">
     <div class="card">
       <div class="card-body">
         <!-- ============================================================== -->
         <!-- Implementando el progresbar -->
         <!-- ============================================================== -->
         <h4 class="card-title">Striped Progress bar</h4>
         <div class="progress m-t-20">
           <div class="progress-bar bg-primary progress-bar-striped active" style=" height:6px;" role="progressbar"
             [style.width]="this.getProgerso1">
           </div>
         </div>
         <div class="progress m-t-20">
           <div class="progress-bar bg-success progress-bar-striped active" style=" height:6px;" role="progressbar"
             [style.width]="this.getProgerso2">
           </div>
         </div>
         <!-- ============================================================== -->
         <!-- Fin implementacion progressBar -->
         <!-- ============================================================== -->
       </div>
     </div>
   </div>
 </div>

 <div class="row">
   <div class="col-6">
     <div class="card">
       <div class="card-body">

         <app-incrementador (valor)="this.progreso1=$event" [valor]="this.progreso1"></app-incrementador>

       </div>
     </div>
   </div>
   <div class="col-6">
     <div class="card">
       <div class="card-body">
         <!-- [Corchetes mandan al hijo] -->
         <!-- (Parentesis resiven datos del hijo mediante el emit) -->
         <!-- Sin nada manda directo sin declarar variables en el ts -->
         <app-incrementador (valor)="this.progreso2=$event" [valor]="this.progreso2" [btnClass]="'btn-info'">
         </app-incrementador>
       </div>
     </div>
   </div>
 </div>
